- if @questions
  - @questions.each do |question|
    %p= question.title
    %p= question.field_id
    %p= find_field_name(question.field_id)
    %p= question.time_expires
    %p= (question.time_expires.to_time.to_i - Time.now.to_i) / 60

%div.span8.pull-left
  .row(style="margin:5px")
    %ul.nav.nav-pills
      %li.active{:data=>{:class=>'critical'}}
        %a{:href=>'javascript:;'} Critical Events
      %li{:data=>{:class=>'tommorow'}}
        %a{:href=>"javascript:;"}Events for Tommorow
      %li{:data=>{:class=>'questions'}}
        %a{:href=>"javascript:;"}Yes/No Questions
      %li{:data=>{:class=>'my'}}
        %a{:href=>"javascript:;"}My Events
    :javascript
      $('.nav li').click(function(){
        $('.hideable').hide();
        var showObj = $(this).attr('data-class');
        $('.nav li').removeClass('active');
        $(this).addClass('active');
        console.log();
        $('.' + showObj).show();
      });
  .row.span8.critical.hideable
    %table.tablesorter{:id =>"emergencyTable"}
      %thead
        %tr
          %th Title
          %th Category
          %th Time Left
      %tbody{:style => "cursor:pointer"}
        - if @questions
          - @questions.each do |question|
            %tr
              %td= question.title
              %td
                %select{ :name => "skills", :id =>'skills_', :multiple=>true, :class=>"chosen-select", :style=>"height:30px", :readonly =>true, :disabled=>true}
                  %p= question.field_id
                  %option{:id=>question.field_id}=find_field_name(question.field_id)
                :javascript
                  $("skills_").val($("#skills option").first().val())
                  $(".chosen-select").attr('data-placeholder',"Select your skills").chosen();
                  $('.search-field input').height('20');
                  $('.chzn-choices').css({'border':'none'})
              %td
                20.00
    .row
      %div.span4
      %input{:type=>'button',:value=>"See", :class=>'btn btn-normal span2 btn-success', :disabled=>true}
  :javascript
    $(document).ready(function(){
      $(".tablesorter").tablesorter({
          widthFixed:true,
          widgets: ["zebra"]
        });

      $('.tablesorter tbody tr').click(function(){
          $('.tablesorter tbody tr').children().removeClass('selected')
          $(this).children().addClass('selected');
      })
    });
  .row.span8.tommorow.hideable
  .row.span8.questions.hideable
  .row.span8.my.hideable

  %div(style="width:150px;height:150px")

%script(src="/js/ynquestion.js")
%aside#questionPlaceholder.span2(style="float:right;margin-right:15px")

%div(style="clear:both")
