-# - if @questions
-#   - @questions.each do |question|
-#     %p= question.title
-#     %p= question.field_id
-#     %p= find_field_name(question.field_id)
-#     %p= question.time_expires
-#     %p= (question.time_expires.to_time.to_i - Time.now.to_i) / 60
.modal-header.text-center
  %h2 Help center
.modal-body
  .row.span8.offset2
    %ul.nav.nav-pills
      %li.active{:data=>{:class=>'critical'}}
        %a{:href=>"javascript:;"} Time out!
      %li{:data=>{:class=>'tommorow'}}
        %a{:href=>"javascript:;"} The day after
      %li{:data=>{:class=>'yesno'}}
        %a{:href=>"javascript:;"} Yes/No Questions
      %li{:data=>{:class=>'my'}}
        %a{:href=>"javascript:;"} Help me!
    :javascript
      $('.nav li').click(function(){
        $('.hideable').hide();
        var showObj = $(this).attr('data-class');
        $('.nav li').removeClass('active');
        $(this).addClass('active');
        $('.' + showObj).show();
      });
    .row.span8.critical.hideable.offset
      %h1 Time Out
      %table.table.table-striped.table-hover.vertical-middle{:id =>"emergencyTable"}
        %thead
          %tr
            %th Title
            %th Category
            %th Time Left
        %tbody{:style => "cursor:pointer"}
          - if @time_out
            - @time_out.each do |question|
              %tr
                %td{:style=>"color:#00FF00;font-size:100%"}
                  %a= question.user.username
                  - path = '/question/show/' + question.id.to_s
                  %a{href: path}= question.title
                %td
                  %select{ :name => "skills", :id =>'skills_' + question.id.to_s, :multiple=>true, :class=>"chosen-select", :style=>"height:30px", :readonly =>true, :disabled=>true}
                    %option{:id=>question.field_id}=find_field_name(question.field_id)
                  :javascript
                    $("#skills_#{question.id.to_s}").val($("#skills_#{question.id.to_s} option").first().val())
                    $(".chosen-select").attr('data-placeholder',"Select your skills").chosen();
                    $('.search-field input').height('20');
                    $('.chzn-choices').css({'border':'none'})
                %td.timer{:style=>"color:#FF0000;background-color:#000000;border-bottom: 1px #FFFFFF;font-size:200%"}
                  -if question.time_expires.to_time.to_i - Time.now.to_i < 0
                    Expired
                  - else
                    = (question.time_expires.to_time.to_i - Time.now.to_i) / 60
                %td
                  - link = '/answer/add/' + question.id.to_s
                  %a{href: link} Add answer
      .row
        %div.span4
        %input{:type=>'button',:value=>"See", :class=>'btn btn-normal span2 btn-success', :disabled=>true}
      :javascript
        $(document).ready(function(){
          $(".tablesorter").tablesorter({
              widthFixed:true,
              widgets: ["zebra"]
            });

        $('.tablesorter tbody tr').click(function(){
            $('.tablesorter tbody tr').children().removeClass('selected')
            $(this).children().addClass('selected');
        })
        });

      %a{href: '/question/add', style:"margin-left:22px"} Add a question
    .row.span8.tommorow.hideable{:style=>'display:none'}
      %h1 Tomorrow
      %table.table.table-striped.table-hover.vertical-middle{:id =>"emergencyTable"}
        %thead
          %tr
            %th Title
            %th Category
            %th Time Left
        %tbody{:style => "cursor:pointer"}
          - if @tomorrow
            - @tomorrow.each do |question|
              %tr
                %td{:style=>"color:#00FF00;font-size:200%"}
                  %a= question.user.username
                  - path = '/question/show/' + question.id.to_s
                  %a{href: path}= question.title
                %td
                  %select{ :name => "skills", :id =>'skills_' + question.id.to_s, :multiple=>true, :class=>"chosen-select", :style=>"height:30px", :readonly =>true, :disabled=>true}
                    %option{:id=>question.field_id}=find_field_name(question.field_id)
                  :javascript
                    $("#skills_#{question.id.to_s}").val($("#skills_#{question.id.to_s} option").first().val())
                    $(".chosen-select").attr('data-placeholder',"Select your skills").chosen();
                    $('.search-field input').height('20');
                    $('.chzn-choices').css({'border':'none'})
                %td= (question.time_expires.to_time.to_i - Time.now.to_i) / 60
                %td
                  - link = '/answer/add/' + question.id.to_s
                  %a{href: link} Add answer
    .row.span8.yesno.hideable{:style=>'display:none'}
      %h1 Yes No Questions
      %table.table.table-striped.table-hover.vertical-middle{:id =>"emergencyTable"}
        - if @yes_no
          - @yes_no.each do |question|
            %tr
              %td{:style=>"color:#00FF00;font-size:200%"}
                #customtextarea
                  %div{style: "margin-left: 20px;"}
                    .row
                      - path = '/question/show/' + question.id.to_s
                      %a.pull-left{href: path}= question.title
                      .pull-right
                        a question by: #{question.user.username}
                      %br
                      .pull-left
                        = 'Field: ' + question.field.name
                      %br
                      .text-center
                        = question.text
                    .row
                      %button.btn.btn-success.pull-left
                        %i.icon-thumbs-up
                      %button.btn.btn-danger.pull-right
                        %i.icon-thumbs-down
                  %div{style: 'clear: both'}
    .row.span8.my.hideable{:style=>'display:none'}
      %h1 My Questions
      %table.table.table-striped.table-hover.vertical-middle{:id =>"emergencyTable"}
        %thead
          %tr
            %th Title
            %th Category
            %th Time Left
        %tbody{:style => "cursor:pointer"}
          - if @my_questions
            - @my_questions.each do |question|
              %tr
                %td{:style=>"color:#00FF00;font-size:200%"}
                  %a= question.user.username
                  - path = '/question/show/' + question.id.to_s
                  %a{href: path}= question.title
                %td
                  %select{ :name => "skills", :id =>'skills_' + question.id.to_s, :multiple=>true, :class=>"chosen-select", :style=>"height:30px", :readonly =>true, :disabled=>true}
                    %option{:id=>question.field_id}=find_field_name(question.field_id)
                  :javascript
                    $("#skills_#{question.id.to_s}").val($("#skills_#{question.id.to_s} option").first().val())
                    $(".chosen-select").attr('data-placeholder',"Select your skills").chosen();
                    $('.search-field input').height('20');
                    $('.chzn-choices').css({'border':'none'})
                %td
                  -if question.time_expires.to_time.to_i - Time.now.to_i < 0
                    Expired
                  - else
                    = (question.time_expires.to_time.to_i - Time.now.to_i) / 60
                %td
                  - link = '/answer/add/' + question.id.to_s
                  %a{href: link} Add answer

    %div(style="width:150px;height:150px")

  %script(src="/js/ynquestion.js")

  :javascript
    $(".search-choice-close").hide()


%div(style="clear:both")

:javascript
  $(document).ready(function(){
    $('.timer').each(function(){
      var self = this;
      var timeLeft = parseInt($(this).text(),10)
      var secs = 60;

      $(this).text(timeLeft + '.' + secs + ' mins');
      setInterval(function(){
        var times = $(self).text().split('.');
        var minsLeft = parseInt(times[0],10);
        var secs = parseInt(times[1],10);
        if(secs == 0){
          minsLeft -=1;
          secs = 60;
        }else{
          secs -= 1;
        }
        $(self).text(minsLeft + '.' + secs + ' mins');
      },1000);
    });
  });

