%div.alert-success.text-center
  %h1= @member.username

%div(style="width:100%;text-align:center")

  %br

  %h4= @member.first_name + " " + @member.last_name

  %h5 Abilities
  %select{ :name => "skills", :id =>'skills' , :multiple=>true, :class=>"chosen-select", :style=>"height:30px"}
    - @member.abilities.each do |element|
      %option= element[:name]
:javascript
  $(".chosen-select").attr('data-placeholder',"Select your skills").chosen();
  $('.search-field input').height('20');
  -@member.abilities.each do |ability|

    %span= ability.name

  %h5 Interests
  -@member.interests.each do |interest|
    %span= interest.name


