.modal-header
  .text-center.alert-success
    %h1= @profile_user.username
.modal-body
  .row
    .span4
      - unless @fullname.nil?
        %h4=@fullname
      %img{src: "/img/anonymous250.jpg"}
    .span5.offset2
      .row
        %br
        %strong Rank:
        %p= @ranks[:name]
        %img.pull-right{src: "/img/yoda.jpg"}
      .row
        %br
        %strong XP:
        %p= @profile_user[:xp]
        .progress
          %div.bar{style: "width: 60%;"}
      .row
        %br
        %strong Recent achievement:
        %br
        %strong Comunity helper -
        help a 100 members
        %img.pull-right{src: "/img/helped_100_people.png"}
        %br
        %a{href: "/profile/#{@profile_user.id}/achievements"} See all achievements
      .row
        %br
        %strong Skills:
        - @profile_user.abilities.each do |ability|
          %p= ability[:name]
      .row
        %br
        %strong Interests:
        - @profile_user.interests.each do |interest|
          %p= interest[:name]
.modal-footer
  - if @myprofile
    %a.btn.btn-large.pull-right{href: "/profile/#{@profile_user.id}/edit"}Edit profile